@import "tailwindcss";

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Utility Class Custom (Tanpa @layer) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
