@import "tailwindcss";

body {
  /* Menggunakan bg-stone-50 untuk nuansa hangat/krem */
  @apply bg-stone-50 text-stone-900 antialiased;
}

/* Utility Class Custom */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  overflow-x: hidden;
}
